.flex{
  display:flex;
}
.flex-1{
  flex:1;
}
.items-center{
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.btn{
  padding:0.8rem 3rem;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  transition:all 0.4s ease;
}
.btn-primary{
  background:#ac00e6;
  color:white;
}
.btn-primary:hover{
  background: transparent;
  color:#ac00e6;
  border-color:#ac00e6;
}
